.jumbotron-fluid {
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 20px;
}

.display-4 {
    font-family: 'Merriweather', serif;
}

.lead{
    font-family: 'Noto Serif', serif;
}

#results {
    padding-top: 40px;
}
